<div class='owasp-sidebar-top'>
  <strong>AppSec New Zealand Incorporated (AppSec NZ)</strong> is an 
  all-volunteer, non-profit Incorporated Society and NZ-registered charity 
  (Charity Number CC59162), whose primary purposes are to:

  <ul>
    <li>
      organise and conduct application security conferences, training, 
      and other educational events; and
    </li>
    <li>
      provide financial and other support for educational activities which 
      advance awareness of, understanding of, and opportunities in application 
      security.
    </li>
  </ul>
</div>
