<section class="social">
<a href="https://www.facebook.com/AppSecNZ" aria-label="facebook group" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-facebook-square"></i></a>
<a href="https://twitter.com/AppSecNZ" aria-label="twitter account" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-twitter"></i></a>
<a href="https://www.linkedin.com/company/appsec-nz/" aria-label="linkedin account" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-linkedin"></i></a>
</section>
