<section>
{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = '/' %}
{% else %}
{% assign site_base_url = 'https://appsec.org.nz/' %}
{% endif %}
  <script type="text/javascript">
    var track_info = [];
    var day_info = [];
    var block_info = [];
    var talk_info = [];
    
    function build_block_html( currBlock ) {
       var htmlText = '';
       if( currBlock ) {
    	   htmlText += '<td style="vertical-align: middle; text-align: right;">';
    	   if(!currBlock["start"]) {
    		   htmlText += "&nbsp;"
    	   }
    	   else {
    		   htmlText += currBlock["start"];
    		   if(currBlock["end"]) {
    			   htmlText+='&nbsp;-&nbsp;' + currBlock["end"];
    		   }
    	   }
    	   htmlText += '</td>\n';
       }
       return htmlText;
    }
    
    function build_plenary_td( currTalk, isOddRow ) {
    	var htmlText = '';
    	var numTracks = track_info.length;

    	htmlText += '<td colspan="' + (numTracks + 1) + '" style="background-color: ';
    	if( currTalk["info"] ) {
    		htmlText += '#D98B66';
    	}
    	else {
    		if( isOddRow ) {
    			htmlText += '#EEE';
    		}
    		else {
    			htmlText += '#B9C2DC';
    		}
    		
    	}
    	
    	htmlText += '; text-align: center; margin: 15px 5px;">';
    	if( currTalk["title"] ) {
    		htmlText += '<strong>' + currTalk["title"] + '</strong>';
    		if( currTalk["name"]) {
    			htmlText += '\n<br />\n';
    		}
    	}
    	if( currTalk["name"] ) {
    		htmlText += '<em>' + currTalk["name"];
    		if( currTalk["org"] ) {
    			htmlText += ' - ' + currTalk["org"];
    		}
    		htmlText += '</em>\n';
    	}
    	
    	if( currTalk["video"] || currTalk["slides"] ) {
    		htmlText += add_viewing_links( currTalk );
    	}
    	htmlText += '</td>\n';
    	
    	return htmlText;
    }
    
    function build_talk_td( currTalk, isOddRow ) {
    	if( isOddRow ) {
    		htmlText = '<td style="background-color: #EEE; text-align: center; margin: 15px 5px;">\n';
    	}
    	else {
    		htmlText = '<td style="background-color: #B9C2DC; text-align: center; margin: 15px 5px;">\n';
    	}
    	htmlText += '<strong><a href="/conference/speakers.html#' + currTalk["anchor"] + '" target="speakers">';
    	htmlText += currTalk["title"] + '</a></strong>\n';
    	if( currTalk["remote"]) {
    		htmlText += '<br />\n(Remote Presentation)';
    	}
    	htmlText += '<br />\n<em>' + currTalk["name"];
    	if( currTalk["org"] ) {
    		htmlText += ' - ' + currTalk["org"];
    	}
    	htmlText += '</em>\n';
    	if( currTalk["name2"]) {
    		htmlText += '<br />\n<em>' + currTalk["name2"];
    		if(currTalk["org2"]) {
    			htmlText += ' - ' + currTalk["org2"];
    		}
    		htmlText += '</em>\n';
	    	if( currTalk["name3"]) {
    			htmlText += '<br />\n<em>' + currTalk["name3"];
    			if(currTalk["org3"]) {
    				htmlText += ' - ' + currTalk["org3"];
    			}
    			htmlText += '</em>\n';
	    	}
    	}
    	
    	if( currTalk["video"] || currTalk["slides"] ) {
    		htmlText += add_viewing_links( currTalk );
    	}

    	htmlText += '</td>\n';
    	return htmlText;
    }
    
    function build_breakout_td( isOddRow ) {
    	var htmlText = '';
    	if( isOddRow ) {
    		htmlText = '<td style="background-color: #EEE; text-align: center; margin: 15px 5px;">&nbsp;</td>\n';
    	}
    	else {
    		htmlText = '<td style="background-color: #B9C2DC; text-align: center; margin: 15px 5px;">&nbsp;</td>\n';
    	}
    	return htmlText;
    }
    
    function add_viewing_links( currTalk ) {
		var textToAdd = '<br />\nView: ';
		if( currTalk["video"] ) {
			textToAdd += '<a href="' + currTalk["video"] + '" target="youtube">Video</a> (YouTube';
			if( currTalk["length"] ) {
				textToAdd += ' , ' + currTalk["length"];;
			}
			textToAdd += ')';
			if( currTalk["slides"] ) {
				textToAdd += '; ';
			}
		}
		if( currTalk["slides"] ) {
			textToAdd += 'a href="' + currTalk["slides"] + '" target="_blank">Slide Deck</a>';
			if( currTalk["format"] ) {
				textToAdd += ' (' + currTalk["format"];
				if( currTalk["size"] ) {
					textToAdd += ', ' + currTalk["size"];
				}
				textToAdd += ')';
			}
		}
		textToAdd += '\n';
		return textToAdd;
    }
    
    function build_day_table_header_row( ) {
    	var htmlText = '';
    	
    	htmlText += '<tr>\n<td style="vertical-align: middle; text-align: right;">&nbsp;</td>\n';
    	for( const currTrack of track_info ) {
    		htmlText += '<td style="background-color: #B9C2DC; text-align: center; font-weight: bold; margin: 15px 5px; width: ' + currTrack["width"] + '%;">\n';
    		htmlText += currTrack["name"] + '\n<br />\n' + currTrack["location"];
    		if( currTrack["overflow"] ) {
    			htmlText += '\n<br />\n(Overflow: ' + currTrack["overflow"] + ')';
    		}
    		htmlText += '</td>\n';
    	}
    	htmlText += '</tr>\n';
    	return htmlText;
    } // End of build_day_table_header_row function
    
    function build_day_heading( dayObj ) {
    	var htmlText = '';
    	const dayIndex = dayObj["day"];
    	
    	htmlText += '<h2 id="schedule-day-' + (dayIndex+1) + '">';
    	htmlText += dayObj["dayofweek"] + ', ' + dayObj["date"] + ' ' + dayObj["month"] + ' ' + dayObj["year"];
    	htmlText += '</h2>\n\n';
    	
    	return htmlText;
    } // End of build_day_heading function
    
    function build_day_table( dayObj ) {
        var dayIndex = dayObj["day"];
    	var current_talk;
        var blockIndex = 0;
        var trackIndex = 0;
        var blockTalks;
        var oddRow = true;
        var lastPlenary = false;
        
  		var htmlText = '<table width="100%">\n';
   		htmlText += build_day_table_header_row( );

   		var dayBlocks = block_info[dayIndex];
   		for( const currBlock of dayBlocks ) {
   			blockIndex = currBlock["block"];
   			
   			htmlText += '<tr>\n';
   			htmlText += build_block_html( currBlock );
   			
   			blockTalks = talk_info[dayIndex][blockIndex];
   			for( const current_talk of blockTalks ) {
   				if(current_talk.plenary) {
   					htmlText += build_plenary_td( current_talk, oddRow );
   					lastPlenary = true;
   				}
   				else {
   					htmlText += build_talk_td( current_talk, oddRow );
   				}
   			}
   			if( !lastPlenary ) {
       			htmlText += build_breakout_td( oddRow );
    		}
   			htmlText += '</tr>\n';
			oddRow = !oddRow;
   			lastPlenary = false;
   		}
   	
   	    htmlText += '</table>\n\n';
   	    
   	    return htmlText;
    } // End of build_day_table function

    $(function() {  
      var track_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/tracks.yml');
      track_list.sort((a, b) => (a.id > b.id) ? 1 : -1 );
      
      $.each(track_list, function(trackIndex) {
    	trackIndex = track_info.push(this) - 1;
      });
      
      var day_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/schedule.yml');
      day_list.sort((a, b) => (a.day > b.day) ? 1 : -1 );

      $.each(day_list, function(dayIndex) {
  		dayIndex = day_info.push(this) - 1;
  		var blockData = [];
  		$.each( this.time_blocks, function(blockIndex) {
  			blockIndex = blockData.push(this) - 1;
  		});
  		block_info.push(blockData);
      });
        
      var talk_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/talks.yml');
      talk_list.sort((a, b) => (a.day > b.day) ? 1 : ((a.block > b.block) ? 1 : ((a.track > b.track) ? 1 : -1) ) );
      
      var talkDay, talkBlock, talkTrack, lastDay = 0, lastBlock = 0;
      var talks_for_day = [];
	  var talks_for_block = [];
      $.each(talk_list, function() {
    	  talkDay = this.day;
    	  talkBlock = this.block;
    	  talkTrack = this.track;
    	  if(talkDay != lastDay) {
    		  talks_for_day.push(talks_for_block);
    		  talks_for_block = [];
    		  talk_info.push(talks_for_day);
    		  talks_for_day = [];
    	  }
    	  else {
    		  if(talkBlock != lastBlock) {
    			  talks_for_day.push(talks_for_block);
    			  talks_for_block = [];
    		  }
    	  }
    	  talks_for_block.push(this);
    	  lastDay = talkDay;
    	  lastBlock = talkBlock;
      });
      if( talks_for_block.length > 0 ) {
    	  talks_for_day.push(talks_for_block);
      }
      if( talks_for_day.length > 0 ) {
    	  talk_info.push(talks_for_day);
      }
      
    	var dayIndex = 0;
	 	for( const currDay of day_info ) {
       		htmlString += build_day_heading( currDay );
       		htmlString += build_day_table( currDay );
       	}
                
       	$("#schedule_div").html(htmlString);
          
    });
  </script>

  <div id="schedule_div">
  </div>
</section>
