<section>
{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = '/' %}
{% else %}
{% assign site_base_url = 'https://appsec.org.nz/' %}
{% endif %}
  <script type="text/javascript">
    var track_titles = [];
    var day_info = [];
    var block_info = [];
    var talk_info = [];
        
    
   function build_talk_html( talkIndex ) {
    	const currTalk = talk_info[talkIndex];
    	const talkNumber = (talkIndex + 1);
    	
    	const dayIndex = currTalk["day"];
    	const dayObj   = day_info[dayIndex];

    	const blockIndex = currTalk["block"];
    	const blockObj   = block_info[dayIndex][blockIndex];
    	
    	const trackIndex = currTalk["track"];
    	const trackName  = track_titles[trackIndex];
    	
    	var htmlText = '<hr />\n\n';
    	
    	htmlText += '<h3 id="' + currTalk["anchor"] + '">' + currTalk["title"] + '</h3>\n\n';
    	htmlText += '<p><em>' + currTalk["name"];
    	if( currTalk["org"] ) {
    		htmlText += ' - ' + currTalk["org"];
    	}
    	htmlText += '</em>\n';
    	if( currTalk["name2"]) {
    		htmlText += '<br />\n<em>' + currTalk["name2"];
    		if(currTalk["org2"]) {
    			htmlText += ' - ' + currTalk["org2"];
    		}
    		htmlText += '</em>\n';
	    	if( currTalk["name3"]) {
    			htmlText += '<br />\n<em>' + currTalk["name3"];
    			if(currTalk["org3"]) {
    				htmlText += ' - ' + currTalk["org3"];
    			}
    			htmlText += '</em>\n';
	    	}
    	}
    	if( currTalk["remote"]) {
    		htmlText += '\n<br />\n(Remote Presentation)';
    	}
    	htmlText += '<br />\n' + trackName + '&nbsp;-&nbsp;' + dayObj["dayofweek"] + ',&nbsp;' + blockObj["start"] + '\n</p>\n\n';
    	
    	if(currTalk["abstract"]) {
    		htmlText += '<h4 id="abstract-' + talkNumber + '">Abstract</h4>\n\n';
        	htmlText += '<p>' + currTalk["abstract"] + '</p>\n\n';
    	}

    	if(currTalk["description"]) {
        	htmlText += '<h4 id="description-' + talkNumber + '">Description</h4>\n\n';
        	htmlText += '<p>' + currTalk["description"] + '</p>\n\n';
    	}
    	
    	htmlText += '<h4 id="speaker-bio-' + talkNumber + '">Speaker ';
    	if(currTalk["name2"]) {
    		htmlText += 'Biographies'
    	}
    	else {
    		htmlText += 'Biography';
    	}
    	htmlText += '</h4>\n\n';
    	
    	htmlText += '<p>\n<strong>' + currTalk["name"] + '</strong> ';
    	if(!currTalk["bio"]) {
    		htmlText += '- No biography provided';
    	}
    	else {
    		htmlText += currTalk["bio"];
    		if( currTalk["twitter"] || currTalk["linkedin"] ) {
    			htmlText += ' [';
    			if( currTalk["linkedin"] ) {
    				htmlText += '<a href="https://www.linkedin.com/in/' + currTalk["linkedin"] + '/" target="linkedin">LinkedIn</a>';
    				if( currTalk["twitter"] ) {
    					htmlText += '; ';
    				}
    			}
    			if( currTalk["twitter"] ) {
    				htmlText += 'Twitter: <a href="https://twitter.com/' + currTalk["twitter"] + '" target="twitter">@' + currTalk["twitter"] + '</a>';
    			}
    			htmlText += ']';
    		}
    	}
    	htmlText += '</p>\n\n';
    	
    	if( currTalk["name2"] ) {
        	htmlText += '<p>\n<strong>' + currTalk["name2"] + '</strong> ';
        	if(!currTalk["bio2"]) {
        		htmlText += '- No biography provided';
        	}
        	else {
        		htmlText += currTalk["bio2"];
        		if( currTalk["twitter2"] || currTalk["linkedin2"] ) {
        			htmlText += ' [';
        			if( currTalk["linkedin2"] ) {
        				htmlText += '<a href="https://www.linkedin.com/in/' + currTalk["linkedin2"] + '/" target="linkedin">LinkedIn</a>';
        				if( currTalk["twitter2"] ) {
        					htmlText += '; ';
        				}
        			}
        			if( currTalk["twitter2"] ) {
        				htmlText += 'Twitter: <a href="https://twitter.com/' + currTalk["twitter2"] + '" target="twitter">@' + currTalk["twitter2"] + '</a>';
        			}
        			htmlText += ']';
        		}
        	}
        	htmlText += '</p>\n\n';
    	}
    	
    	if( currTalk["name3"] ) {
        	htmlText += '<p>\n<strong>' + currTalk["name3"] + '</strong> ';
        	if(!currTalk["bio3"]) {
        		htmlText += '- No biography provided';
        	}
        	else {
        		htmlText += currTalk["bio3"];
        		if( currTalk["twitter3"] || currTalk["linkedin3"] ) {
        			htmlText += ' [';
        			if( currTalk["linkedin3"] ) {
        				htmlText += '<a href="https://www.linkedin.com/in/' + currTalk["linkedin3"] + '/" target="linkedin">LinkedIn</a>';
        				if( currTalk["twitter3"] ) {
        					htmlText += '; ';
        				}
        			}
        			if( currTalk["twitter3"] ) {
        				htmlText += 'Twitter: <a href="https://twitter.com/' + currTalk["twitter3"] + '" target="twitter">@' + currTalk["twitter3"] + '</a>';
        			}
        			htmlText += ']';
        		}
        	}
        	htmlText += '</p>\n\n';
    	}
    	
    	return htmlText;
    }
    
    $(function() {  
      var track_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/tracks.yml');
      track_list.sort((a, b) => (a.id > b.id) ? 1 : -1 );
      
      $.each(track_list, function(trackIndex) {
    	trackIndex = track_titles.push(this.name) - 1;
      });
      
      var day_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/schedule.yml');
      day_list.sort((a, b) => (a.day > b.day) ? 1 : -1 );

      $.each(day_list, function(dayIndex) {
  		dayIndex = day_info.push(this) - 1;
  		var blockData = [];
  		$.each( this.time_blocks, function(blockIndex) {
  			blockIndex = blockData.push(this) - 1;
  		});
  		block_info.push(blockData);
      });
        
      var talk_list = YAML.load('{{site_base_url}}assets/sitedata/{{include.datadir}}/talks.yml');
      talk_list.sort((a, b) => (a.title > b.title) ? 1 : -1);
      
      $.each(talk_list, function(talkIndex) {
    	  if( !this.plenary ) {
        	  talkIndex = talk_info.push(this) - 1;
    	  }
      });

      var htmlString = '';
      for( talkIndex in talk_info ) {
			htmlString += build_talk_html( talkIndex );
      }
                
      $("#speaker_list_div").html(htmlString);
          
    });
  </script>

  <div id="speaker_list_div">
  </div>
</section>
