<footer>
  {% include conference-2022/sponsors.html %}

  <section class="footer-wrapper">
    {% include social.html %}
    <nav class="bot-nav" role="navigation" aria-label="secondary navigation">
      <ul>
        <li><a href="https://appsec.org.nz/">HOME</a></li>
        <li><a href="https://appsec.org.nz/about/">ABOUT</a></li>
        <li><a href="https://appsec.org.nz/about/policies.html">PRIVACY</a></li>
        <li><a href="https://appsec.org.nz/sitemap/">SITEMAP</a></li>
        <li><a href="https://appsec.org.nz/about/contact.html">CONTACT</a></li>
      </ul>
    </nav>
    <p class="disclaimer">
        Unless otherwise specified, all content on the site is Creative Commons Attribution-ShareAlike v4.0 and provided without warranty of service or accuracy. 
        For more information, please refer to our <a href="/about/general-disclaimer.html">General Disclaimer</a>. 
        AppSec NZ does not endorse or recommend commercial products or services, allowing our community to remain vendor neutral with the collective wisdom of the best minds in software security, throughout New Zealand and worldwide.      
		OWASP, Open Web Application Security Project, and Global AppSec are registered trademarks and the OWASP logo is a trademark of the OWASP Foundation, Inc. 
		<br />
		Copyright {{ "now" | date: "%Y" }}, AppSec New Zealand Incorporated
    </p>
  </section>
</footer>
