<section class="member">
{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = '/' %}
{% else %}
{% assign site_base_url = 'https://appsec.org.nz/' %}
{% endif %}
  <script type="text/javascript">
    var sponsors = [];
    var diamond_indices = []; // 5x as likely to be shown
    var platinum_indices = []; // 3x as likely to be shown
    var gold_indices = []; // twice as likely to be shown
    var other_indices = []; // All others equally likely
    
    // Randomly select a starting index within the provided subset of sponsor indices.
    //    Beginning at that index, check to see if the associated sponsor has been 
    //    chosen for display already, cycling to the start of the list if necessary.
    // If an unused sponsor is found, return the index of the sponsor in the main
    //    sponsors list.
    // If the search for an unused subList element comes up empty, return -1
    function pick_from_sublist( subList, usedList ) {
    	rtnVal = -1;
        randomIndex = Math.floor(Math.random() * subList.length);
        sponsorIndex = subList[randomIndex];            
        cycleIndex = randomIndex;
        while( rtnVal < 0 ) {
          randomIndex++;
          if( usedList.indexOf(sponsorIndex) < 0 ) {
            rtnVal = sponsorIndex;
          }
          else if( randomIndex >= subList.length ){
            randomIndex = 0;
          }
          if (randomIndex == cycleIndex){ 
        	// we could not find a sponsor from this sub-list, not already in the list            
            break;
          }
        }
        return rtnVal;
    }

    function get_random_sponsor( sponsors, usedIndexList ) {
      sponsor = null;
      chosenIndex = -1;
      
      var diamond_threshold = 5 * diamond_indices.length;
      var platinum_threshold = diamond_threshold + ( 3 * platinum_indices.length );
      var gold_threshold = platinum_threshold + ( 2 * gold_indices.length );
      var pick_limit = gold_threshold + other_indices.length;
      
      var pick = Math.floor(Math.random() * pick_limit);      
      var randomIndex = -1;
      
      if( pick < diamond_threshold ) {
    	  chosenIndex = pick_from_sublist( diamond_indices, usedIndexList );
      }
      if( chosenIndex < 0 && pick < platinum_threshold ) {
    	  chosenIndex = pick_from_sublist( platinum_indices, usedIndexList );
      }
      if( chosenIndex < 0 && pick < gold_threshold ) {
    	  chosenIndex = pick_from_sublist( gold_indices, usedIndexList );
      }
      if( chosenIndex < 0 ) {
    	  chosenIndex = pick_from_sublist( other_indices, usedIndexList );
      }
      
      if( chosenIndex >= 0 ){          
        sponsor = sponsors[chosenIndex];
        usedIndexList.push(chosenIndex);
        var sponsortype = 'not a sponsor';
        if( sponsor.active && sponsor.level ) {
        	switch( sponsor.level ){
        	case 1:
        		sponsortype = 'Diamond Sponsor';
        		break;
        	case 2:
        		sponsortype = 'Platinum Sponsor';
    			break;
        	case 3:
        		sponsortype = 'Gold Sponsor';
    			break;
        	case 4:
        		sponsortype = 'Silver Sponsor';
    			break;
        	case 5:
        		sponsortype = 'Bronze Sponsor';
    			break;
        	case 6:
        		sponsortype = 'Supporting Sponsor';
    			break;
    		default:
    			sponsortype = sponsor.level;
        	}
        	sponsor.levelDesc = sponsortype;
    	}
      }
      return sponsor;      
    }

    $(function() {  
      var sponsor_list = YAML.load('{{site_base_url}}assets/sitedata/sponsors-2022.yml');
      $.each(sponsor_list, function (index) {
          index = sponsors.push(this) - 1;  
          if(this.level == 3)
            gold_indices.push(index);
          else if (this.level == 2)
            platinum_indices.push(index);
          else if (this.level == 1)
        	diamond_indices.push(index);
          else
            other_indices.push(index);        
        });

        var usedIndexList = [];
        var counter = 0;
        var numberOfImages = 9;
        var current_sponsor = get_random_sponsor(sponsors, usedIndexList);
        var htmlstring = "";
        
        if(sponsors.length > 0) {
	        htmlstring = '<h2>Spotlight: ' + current_sponsor["name"] + '</h2>';
    	    htmlstring += '<a href="'+ current_sponsor["url"] + '" rel="sponsored nopener noreferrer" target="_blank" onclick="handleOutboundLinkClicks(event);"><img src="https://appsec.org.nz' + current_sponsor["image"] + '" alt="Image: Sponsor logo" /></a>';
        	htmlstring += '<p>' + current_sponsor["description"] + '</p>';
        	htmlstring += '<h3>' + current_sponsor["name"] + ' is a ' + current_sponsor["levelDesc"] + ' of the 2022 Conference</h3>'; 
        	$(".member-spotlight").html(htmlstring);

          	htmlstring = "";
          	while ( counter < numberOfImages  && counter < sponsors.length ) {
            	current_sponsor = get_random_sponsor(sponsors, usedIndexList)
            	if (current_sponsor)
            	{
                	counter++;
                	htmlstring += '<a href="'+ current_sponsor["url"] + '" class="member-logo" rel="sponsored noopener noreferrer" target="_blank" onclick="handleOutboundLinkClicks(event);"><img src="https://appsec.org.nz' + current_sponsor["image"] + '" alt="image"/></a>';                                
            	}
          	}

          	$("#corp_member_div").html(htmlstring);
          
        }
    });
  </script>
  <div class="member-wrapper">
    <section class="member-spotlight">
    </section>
    <section class="member-list">
      <h2>Conference Sponsors</h2>
      <div id="corp_member_div">
      </div>
      <div class="member-cta">
        <a class="callout-link" href="https://appsec.org.nz/conference-2022/sponsors.html">About Our Sponsors</a>
        <a class="callout-link" href="https://appsec.org.nz/conference-2022/sponsorship.html">Become a Sponsor</a>
      </div>
    </section>
  </div>
</section>
